*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    background-color: white;
}

#nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
#nav-part1 h2{
    font-size: 17px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
    transition: background-color 0.5s ease-in 10ms;
}
#nav-part1 i{
    font-size: 17px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
    transition: background-color 0.5s ease-in 10ms;
}
#nav-part1 h2:hover{
    background-color: black;
    color: #fff;
}
#nav-part1 i:hover{
    background-color: black;
    color: #fff;
}
#nav-part2 h1{
    padding: 7px 7px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease-in-out;
}
#nav-part2>h1:hover{
    box-shadow: 1px 1px 10px black;
}
#nav button{
    padding: 7px 12px;
    border: 1.5px solid black;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
}
#btn2{
    background-color: orangered;
    color: #fff;
}
#main>h1{
    font-size: 150px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    transition: box-shadow 0.5s ease-in-out;
}
#main>h1:hover{
    box-shadow: 2px 2px 25px black;
}
img{
    height: 400px;
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: top;
    border-radius: 22px;
}
#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}
#bottom-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 15px;
}
#bottom-right{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 24px;
}
#bottom-right j{
    padding: 7px;
}
#bottom-right k{
    padding: 7px;
}
#bottom-right l{
    padding: 7px;
}
#bottom-right>h5{
    font-size: 20px;
}
#main>h5{
    font-size: 20px;
}